.main_footer {
  h1 {
    font-size: 1.4em;
    border-bottom: 1px solid #CCC;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
      margin-bottom: 4px;

      a {
        color: #666;
      }
    }
  }
}

.main_copyright {
  p {
    font-size: 0.875em;
  }
}