[class^="icon-"]:before,
[class^="icon-"]:before {
  position: relative !important;
  top: .125em !important;
  margin-right: .4em !important;
}

.icon-notext:before {
  top: 0;
  margin-right: 0 !important;
}