.main_single {

  h2 {
    margin: 40px 0px 20px 0px;
  }

  .main_slide_content_price {

    .main_slide_content_price_small {
      margin-bottom: 0px;
      font-size: 0.8em;
    }
  }

  .main_content_contact {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;

    h2 {
      font-size: 1.2em;
      padding: 20px;
      margin: 0px;
    }

    form {
      padding: 20px;
      background-color: #f9f9f9;
      border: 1px solid #CCC;
    }
  }
}